{% extends 'app/base.html' %}
{% load static %}
{% block title %} Change Passworld Done {% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3> Welcome <span class="text-captalize"> {{request.user}} </span> </h3>
        
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="#" class= "btn btn-primary"> Password Change Done </a></li>
                </ul>
            </div>
            <div class="col-sm-8 offset-sm-1 text-center">
                <h3> Password Change Successfully Done ! </h3>
                <div>
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0"
                    class = "giphy-embed" allowFulScreen> </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}

